body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
h1{
   font-size:40px;  
}
p{
    color: dimgray;
}
.header-banner {
    padding-top: 50px;
}
.name-highlight{
    color: rgba(219, 63, 115, 0.835);
    font-family: 'Black Han Sans', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header{
    background-image: url("personal-website/header-bg.png");
    background-size: 100%;
}
section{
    height: 800px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(219, 63, 115, 0.835);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;  
}
.biography{
    background-image: url("personal-website/biography-bg.png");
    background-size: 100%;
  
}
h3{
    text-align: center;  
    font-size: 30px;
}
.latest-work{
    background-image: url("personal-website/latest-work-bg.png");
    background-repeat: no-repeat;
}
.my-latest{
    height: 20%;
    width: 25%;
    float: left;
    margin-left: 1%;
    border-image: 2%;   
}
h4{
    text-align: center;
    font-size: 25%;
}
h5{
    text-align: center;
    font-size: 22%;    
}
.footer{
    /* background-image: url("personal-website/footer-bg.png"); */
    /* background-repeat: no-repeat; */
    padding-bottom: 25px;
    padding-top: 50px;
}
.footer div h3{
    font-size: 25px;
}
.footer div h4{
    font-size: 25px;
}
.footer div h5{
    font-size: 25px;
}
.half-width img {
    width: 100%;
}
.work-aria {
    display: flex;
    justify-content: space-around;
}
.my-latest img {
    width: 98%;
    box-shadow: 5px 5px 10px lightblue;
}
.biography .right-side {
    padding-top: 15%;
}
.right-side p{
    padding-bottom: 20px;
}